body {
	background: #f8f9fa;
}

#header {
	height: 50px;
	margin-bottom: 55px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px #EEEEEE;
}

/* Detail CSS */
#detail-inner {
	background: #FFFFFF;
	padding: 15px;
	box-shadow: 0px 0px 20px #EEEEEE;
}

#detail-top {
	padding: 20px;
}

#detail img {
	width: 100%;
}

#detail .tag {
	border: 1px solid #EEEEEE;
	padding: 2px 5px;
	margin: 5px;
	border-radius: 5px;
}

#graph-line-inner {
	background: #FFFFFF;
	padding: 15px;
	box-shadow: 0px 0px 20px #EEEEEE;
}

.table {
	margin: 40px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px #EEEEEE;
}
